body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.container{
display:flex;
height:100vh;
}

.left{
width:30%;
background:#020617;
padding:40px;
text-align:center;
}

.profile{
width:200px;
height:200px;
border-radius:50%;
border:6px solid #2563eb;
object-fit:cover;
}

.menu{
margin-top:30px;
}

.menu-btn{
display:block;
width:100%;
padding:14px;
margin:10px 0;
background:#2563eb;
border:none;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
}

.menu-btn:hover{
background:#1d4ed8;
}

.right{
width:70%;
padding:60px;
}

.content{
display:none;
}

.content.active{
display:block;
}

#skills ul{
line-height: 2;
margin-top:20px;
}

#skills li{
margin-bottom:12px;
}